@layer base {
  :root {
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;

    --z-index-data-table: 50;
    --z-index-data-table-header: 51;
    --z-index-data-table-footer: 51;
    --z-index-data-table-overlay: 52;

    --z-index-sidebar: 100;
    --z-index-header: 100;

    --z-index-modaless: 200;
    --z-index-popup: 500;
    --z-index-drawer: 400;
    --z-index-toast: 500;
    --z-index-modal: 500;
    --z-index-overlay: 500;
    --z-index-loading: 600;
  }

  body {
    color: #1D1D1D;
    font-size: 17px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #DFDFDF;
  }

  ::-webkit-scrollbar-thumb {
    background: #A3A3A3;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #767676;
  }
}