/* ────────────────
  외부 라이브러리
   ──────────────── */
@import "tailwindcss";
@import "react-quill-new/dist/quill.snow.css";

/* ────────────────
  디자인 토큰 (프로젝트 및 색상 정의)
   ──────────────── */
@import "./tokens/colors/core.css";

/* ────────────────
  공통 베이스 및 컴포넌트 스타일
   ──────────────── */
@import "./base.css";
@import "./components";

/* ────────────────
  라이브러리 관련 스타일
   ──────────────── */
@import "./libs"; 

/* ────────────────
  프로젝트 전용 스타일
   ──────────────── */
@import "./project"; 


