@import "./xc-common.css";

@import "./breadcrumb.css";
@import "./button.css";
@import "./checkbox.css";
@import "./dialog.css";
@import "./radio.css";
@import "./switch.css";
@import "./tabs.css";
@import "./pagination.css";