@layer components {
  .xc-tabs {
    .xc-tabs-list {
      @apply flex items-center justify-center w-full h-[42px] overflow-hidden;
    }

    .xc-tabs-trigger {
      @apply inline-flex flex-1 items-center justify-center whitespace-nowrap transition-[color] h-[42px] leading-[1] font-medium bg-white text-[14px] text-[#555] border border-[#e9e9e9] cursor-pointer 
      data-[state=active]:bg-[#EDF1F5] data-[state=active]:font-semibold data-[state=active]:text-[#003675] data-[state=active]:border-[#EDF1F5];
    }
  }
}