@charset "utf-8";

.btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.btn-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

/* btn */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 600;
  color: #111;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  &:hover { 
    outline: none;
  }

  &.s1 {
    font-size: 13px;
    height: 30px;
  }
  &.s2 {
    font-size: 14px;
    height: 40px;
  }
  &.s3 {
    font-size: 16px;
    min-width: 80px;
    height: 50px;
  }
  
   &.s4{
    font-size: 12px;
    min-width: 80px;
    height: 32px;
  }
  &.c1 {
    color : #fff;
    background: #4ec0e9;
    border: 1px solid #4ec0e9;
  }
  &.c2 {
    color : #fff;
    background: #ed5464;
    border: 1px solid #ed5464;
  }
  &.c3 {
    color : #111;
    background: #fff;
    border: 1px solid #cdd2da;
  }
   &.c4 {
    color : #fff;
    background: #299FF3;
    border: 1px solid #299FF3;
  }

  &.btn-icon {
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    .ic-search {
      position: relative;
      width: 16px;
      height: 16px;
      display: inline-flex;
      margin: -6px 0 0 -4px;
      border: 2px solid #fff;
      border-radius: 50%;
      &:before {
        position: absolute;
        content: "";
        top: 10px;
        left: 13px;
        width: 2px;
        height: 8px;
        background: #fff;
        border-radius: 2px;
        transform: rotate(-45deg);
      }
    }
  }

  &.btn-hover {
    width: 160px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    &:hover {
      background-position: 100% 0;
      transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
    }
    &.color1 {
      background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
      box-shadow: 0 4px 10px 0 rgba(45, 54, 65, .6);
    }
    &.color2 {
      background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
      box-shadow: 0 4px 10px 0 rgba(65, 132, 234, .6);
    }
    &.color3 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
      box-shadow: 0 4px 10px 0 rgba(236, 116, 149, .6);
    }
    &.color4 {
      background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f); 
      box-shadow: 0 4px 10px 0 rgba(242, 97, 103, .6);
    }
  }
}


/* btn-switch */
.btn-switch {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 24px;
  input {
    display: none;
  }
  input:checked + label {
    background: #3f86ed;
  }
  input:checked + label:after {
    transform: translateX(20px);
  }
  label {
    display: block;
    width: 100%;
    height: 100%;
    background: #ccc;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      top: 2px;
      left: 2px;
      transition: transform 0.3s;
    }
  }
  &.disabled label {
    background: #eee;
    cursor: not-allowed;
  }
  &.disabled input:checked + label {
    background: #bbb;
  }

  &.type2 {
    width: 62px;
    height: 32px;
    input {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }
    &:after, &:before {
      content: "OFF";
      position: absolute;
      right: 6px;
      top: 7px;
      font-size: 12px;
      color: #fff;
    }
    &:before {
      content: "ON";
      left: 9px;
      right: initial;
      z-index: 1;
    }
    label {
      width: 62px;
      height: 32px;
      border-radius: 16px;
      &:after {
        width: 28px;
        height: 28px;
        z-index: 1;
      }
    }
    input:checked + label:after {
      transform: translateX(30px);
    }
  }
}



