@charset "utf-8";

@media screen and (max-width:1024px) {
  /* map-btn-wrap */
  .map-btn-wrap {
    top: 16px;
  }

  /* header */
  .header { 
    box-shadow: 10px 0px 20px #0000001A;
    .logo {
      left: 32px;
    }
    .goto-site {
      display: none;
    }

    /* nav */
    nav {
      display: none;
      &.active {
        display: block;
      }
    }
    .mobile-menu {
      display: flex;
      position: absolute;
      top: 0;
      right: 14px;
      width: 76px;
      height: 72px;
      background: url(../images/common/btn_mobile_menu.svg) no-repeat center;
      &:hover, &:active {
        background-color: rgba(0,0,0,.05);
      }
    }

    /* nav-mobile */
    .nav-mobile {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 290px;
      background: #fff;
      z-index: 50;
      transform: translateX(100%); 
      transition: transform 0.25s ease;
      overflow: auto;
      & + .mobile-dimmed {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2A2A2A;
        opacity: 0.4;
        z-index: 40;
      }
      &.open {
        transform: translateX(0);
        & + .mobile-dimmed {
          display: block;
        }
      }
      .close-menu {
        position: absolute;
        top: 16px;
        right: 24px;
        width: 40px;
        height: 40px;
        background: url(../images/common/ic_close_mobile.svg) no-repeat;
        &:hover, &:active {
          background-color: rgba(0,0,0,.05);
        }
      }
      ul.depth1 {
        margin: 74px 40px;
        min-height: calc(100vh - 388px);
        > li {
          transition: max-height 0.3s ease;
          overflow: hidden;
          > a {
            position: relative;
            display: flex;
            align-items: center;
            height: 40px;
            font-weight: 600;
            font-size: 16px;
            color: #2A2A2A;
            outline: none;
            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: -4px;
              width: 40px;
              height: 40px;
              background: url(../images/common/ic_nav_mobile.svg) no-repeat center;
            }
            &:hover, &:active, &:focus {
              color: #1B47FF;
            }
          }
          ul.depth2 {
            margin: 10px 0;
            max-height: 0;
            opacity: 0;
            transform: translateY(-10px);
            transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
            > li {
              > a {
                display: flex;
                align-items: center;
                height: 40px;
                font-weight: 500;
                font-size: 16px;
                color: #565656;
              }
            }
          }
          & + li {
            margin-top: 20px;
            padding-top: 15px;
            border-top: 2px solid #e4e4e4;
          }
          &.no-child {
            > a:after {
              display: none;
            }
          }
          &.selected {
            > a {
              color: #1B47FF;
              &:after {
                background: url(../images/common/ic_nav_mobile_opened.svg) no-repeat center;
              }
            }
            ul.depth2 {
              max-height: 500px;
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }

  /* footer */
  .footer {
    display: none;
  }
  .footer-mobile {
    margin: 12px 40px 54px;
    > div {
      margin-top: 20px;
      font-weight: 500;
      font-size: 14px;
      color: #2A2A2A;;
      line-height: 1.3;
    }
    > p {
      font-weight: 500;
      font-size: 14px;
      color: #2A2A2A;
      line-height: 1.3;
    }
  }

  /* container */
  .container {
    padding: 112px 0 50px !important;
    > .inner {
      padding: 0 52px;
    }
  }

  .table-view {
    .top {
      margin-bottom: 26px;
      h3.title {
        margin: 20px 0 23px;
      }
    }
  }

  /* stats-top */
  .stats-top {
    position: relative;
    top: initial;
    right: initial;
    justify-content: center;
    margin-bottom: 32px;
    height: 112px;
    align-items: flex-start;
    gap: 18px;
    .daterange-picker > span {
      width: 26px;
    }
    .btn-mobile {
      position: absolute;
      bottom: 0;
      width: 506px;
      max-width: 100%;
    }
  }

  /* main */
  .main {
    padding: 112px 0 40px;
    > .inner {
      width: auto;
      padding: 0 52px;
      .block-top {
        flex-direction: column;
        height: auto;
        .block-top-sub1 {
          order: 2;
          .banner-area {
            width: calc(50% - 12px);
          }
          .notice-area {
            width: calc(50% - 12px);
          }
        }
        .block-top-sub2 {
          order: 1;
          width: 100%;
          .map-position {
            top: initial;
            left: 16px;
            bottom: 14px;
          }
          p.info-txt {
            padding: 0 40px;
          }
        }
      }
      .block-bottom {
        .block-bottom-sub1 {
          position: absolute;
          top: -444px;
          right: 0;
          width: calc(50% - 12px);
          .swiper-wrapper {
            .swiper-slide {
              .cont {
                max-width: calc(100% - 124px);
                overflow: hidden;
              }
            }
          }
          > ul {
            > li {
              .cont {
                max-width: calc(100% - 124px);
                overflow: hidden;
              }
            }
          }
        }
        .block-bottom-sub2 {
          width: calc(50% - 12px);
        }
        .block-bottom-sub3 {
          width: calc(50% - 12px);

          .cctv-grouping {
            .swiper {
              width: calc(100% - 16px);
              margin: 0 8px;
            }
            .swiper-wrapper {
              .swiper-slide { 
                width: 100% !important;
                height: 356px !important;
                > div {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  width: calc(50% - 4px) !important;
                  height: 176px !important;
                  background: #2a2a2a;
                  border-radius: 8px;
                }
              }
            }
          }
          
          .swiper {
            width: calc(100% - 16px);
            margin: 0 8px;
          }
          .swiper-wrapper {
            .swiper-slide {
              width: 196px !important;
              height: 176px !important;
              .thumnail {
                top: 24px;
                bottom: 24px;
              }
            }
          }
          .swiper-button-prev {
            margin: -10px 0 0 6px;
          }
          .swiper-button-next {
            margin: -10px 6px 0 0;
          }

          > ul {
            > li {
              width: calc(50% - 3px);
              .thumnail {
                top: 24px;
                bottom: 24px;
              }
            }
          }
        }
      } 
    }
  }

  /* map-tools */
  .map-tools {
    top: 88px;
    right: 22px;
  }

  /* search-area */
  .search-area {
    top: 96px;
    left: initial;
    right: 74px;
    transform: none;
    z-index: 40;
    .search-input {
      input {
        width: 324px;
      }
    }
    .search-result {
      width: 442px;
    }
  }
  .btn-search-mobile {
    display: flex;
    position: absolute;
    top: 96px;
    right: 22px;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    box-shadow: 1px 4px 10px #00000029;
    border: 2px solid #fff;
    border-radius: 8px;
    background: #fff url(../images/common/btn_search_mobile.svg) no-repeat center;
    z-index: 40;
    &:hover { 
      background-color: #E9EEFF;
    }
    &.active {
      background: #406EFF url(../images/common/btn_search_mobile_active.svg) no-repeat center;
      & + .search-area { 
        display: block;
      }
    }
    & + .search-area { 
      display: none;
    }
  }

  /* center-intro */
  .center-intro {
    margin-top: 50px;
    .title h3 {
      padding: 0 28px;
      height: 55px;
      font-size: 20px;
    }
    p {
      font-size: 18px;
      word-break: keep-all;
    }
    .block {
      & +.block {
        margin-top: 100px;
      }
      &:nth-child(5) .img-area,
      &:nth-child(7) .img-area,
      &:nth-child(9) .img-area,
      &:nth-child(10) .img-area,
      &:nth-child(12) .img-area { 
        margin-left: -52px;
        margin-right: -52px;
      }
    }
  } 

  /* locations */
  .locations {
    .location-summary {
      .top-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        h2 {
          font-size: 30px;
        }
        .logo {
          top: -6px;
          > img {
            width: 120px;
          }
        }
        & + .blocks {
          margin-top: 80px;
        }
      }
      .blocks {
        min-height: 80px;
        padding-left: 190px;
        > h3 {
          font-size: 30px;
        }
      }
    }
  }

  /* layer-pop */
  .layer-pop {
    &.mobile-type1 {
      width: auto;
      max-width: 431px;
      margin: 0 auto;
      .layer-pop-content {
        > div {
          flex-direction: column;
          > div:first-child {
            width: 100%;
            height: 350px;
            border-radius: 20px;
          }
          .table-list table tbody {
            height: 231px;
            .nodata {
              min-height: 230px;
            }
          }
          .btn-area {
            margin-top: 24px;
            .leftarea,
            .rightarea {
              gap: 14px;
              button {
                width: 124px;
                min-width: initial;
                height: 44px;
                padding: 0 15px;
                font-size: 16px;
              }
            } 
          } 
        }
      }
    }
  }
  
  /* error-page */
  .error-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    .inner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 350px;
      height: 500px;
      transform: translate(-50%, -50%);
      .img-area {
        width: 100%;
        height: 300px;
        background-size: 320px auto;
      }
      > h1 {
        margin-top: 0;
        font-size: 44px;
        letter-spacing: -1px;
      }
      > div p {
        font-size: 13px;
      }
      .btn {
        margin-top: 20px;
        width:300px;
        height: 40px;
      }
    }
  }

  /* admin-page */
  .admin-page { 
    width: auto;
    .form-area {
      .form-area-inner {
        input[type="text"] {
          width: 218px;
        }
        .datepicker {
          .react-datepicker-wrapper {
            width: auto;
          }
        }
        .file-attach {
          .file-dropzone {
            min-width: 218px;
            width: auto;
            .filename { 
              width: auto;
            }
          }
        }
        .file-name {
          min-width: initial;
          max-width: initial;
        }
        .half {
          .file-dropzone {
            width: auto;
            .filename { 
              width: auto;
            }
          }
          .file-name {
            width: auto;
          }
        }
      }
    }
  }
}


@media screen and (max-width:600px) {
  .stats-top {
    flex-direction: column;
    height: auto;
    gap: 15px;
    > form {
      gap: 16px;
      width: 100%;
      > div {
        width: 100%;
        flex: 1;
        .select-trigger {
          width: 100%;
          line-height: 1.1;
          text-align: left;
        }
      }
    }
    .icon-block {
      display: none;
    }
    .btn-mobile {
      position: relative;
      bottom: initial;
      width: 100%;
    }
    .daterange-picker {
      width: 100%;
      > div {
        flex: 1;
      }
      > span + div .datepicker .react-datepicker-popper {
        left: initial !important;
        right: 0 !important;
      }
    }
    .datepicker {
      position: relative;
      .react-datepicker-wrapper {
        width: 100%;
      }
      .react-datepicker-popper {
        transform: none !important;
        top: 55px !important;
        left: 0 !important;
      }
    }
    .for-mobile {
      display: flex;
      width: 100%;
      gap: 16px;
      > button {
        flex: 1;
      }
    }
  } 
}


@media screen and (max-width:400px) {

  [role="tablist"] [role="tab"] {
    min-width: 106px;
  }

  /* search-area */
  .search-area {
    .search-input {
      input {
        width: 160px;
        padding-right: 45px !important;
      }
      .ic-search {
        right: 8px;
      }
    } 
    .search-result {
      width: 344px;
      margin-right: -70px;
    }
  }

  /* sidebar */
  .sidebar {
    .top-area {
      padding-left: 20px;
      padding-right: 20px;
      .tabs-small > button {
        padding: 0 7px;
      }
    } 
    .menu-area>ul.depth1>li>a,
    .menu-area>ul.depth1>li>ul.depth2>li>a {
      padding: 0 12px 0 24px;
    }
  } 

  /* container */
  .container {
    > .inner {
      padding: 0 20px;
    }
  }

  .main .banner-pop .banner-pop-box .swiper {
    height: 480px;
  }

  /* layer-pop */
  .layer-pop {
    .layer-pop-content {
      > div {
        .btn-area {
          .leftarea,
          .rightarea {
            button {
              width: 100px;
            }
          } 
        } 
      }
    }
    &.mobile-type1 {
      .layer-pop-content {
        > div {
          .btn-area {
            .leftarea,
            .rightarea {
              button {
                width: 100px;
              }
            } 
          } 
        }
      }
    }
  }

  .center-intro .intro-new .block2 .inftro-card img {
    width: 90px;
  }

}


@media screen and (max-width:370px) {
  .map-layer-mobile {
    max-width: calc(100% - 10px);
    .layer-body .cctv-area {
      width: auto;
    }
  }
}

@media screen and (max-width:330px) {
  /* map-tools */
  .map-tools {
    .tool-item-bottom {
      .legend-layer {
        padding: 12px 4px;
        table thead tr th .bar {
          width: 44px;
        }
      }
    }
  }
}

/* 1024 이하인데 높이가 낮은 경우 팝업 잘림 현상 방지 */
@media screen and (max-width: 1024px) and (max-height:900px) {
  .layer-pop.mobile-type1 {
    max-height: 672px;
    .layer-pop-content {
      height: calc(100vh - 70px);
      overflow: auto;
      > div > div:first-child {
        height: 280px;
      }
      > div .table-list table tbody {
        height: 184px;
      }
    }
  }
  .layer-pop.mobile-type2 {
    .table-list table tbody {
      height: 320px;
    }
    .layer-pop-content .btn-area {
      margin-top: 12px;
    }
  }
}

/* 높이가 낮은 경우 메인 배너팝업 잘림 현상 방지 */
@media screen and (max-height:900px) {
  .main .banner-pop .banner-pop-box {
    max-width: 400px;
  }
}
@media screen and (max-height:600px) {
  .main .banner-pop .banner-pop-box {
    max-width: 350px;
    .swiper {
      height: 470px;
    }
  }
}

